{% extends "base.html" %}
{% block content %}
<h1>Input Data</h1>
<form action="" method="post" name="/variation_counter">
    <p>
        <label for="people_cnt">How many people?</label>
	    <input type="number" name="people_cnt">
    </p>
    <p>
        <label for="date_range">What date range?</label>
	    <input type="number" name="date_range">
    </p>
    <p>
        <label for="year_days">How many days in year?</label>
	    <input type="number" name="year_days">
    </p>
    <p><input type="submit" value="Calculate"></p>
</form>
{% endblock %}